* {
	margin: 0;
}

body {
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	background-color: rgb(255, 255, 255);
	color: rgb(36, 36, 36);
}

h1 {
	font-weight: 700;
	padding: 20px 0 20px 0;
}

a {
	color: #00b7ff;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}